.progress-bar {
    position: relative;
    width: 90%;
    margin: 30px auto 90px;
    overflow: visible;
}

.progress-number {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    &::before {
        content: "";
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        width: 100%;
        z-index: -1;
    }

    .progress__step {
        letter-spacing: initial !important;
        border-radius: 100%;
        border: solid 4px $color-primary;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #fff;
        font-family: sans-serif;
        font-size: 14px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress__items {
        letter-spacing: initial !important;
        text-align: center;
        font-size: 14px;
        position: relative;
        z-index: 1;
    }

    .progress__title {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .progress__step.active {
        // border-color: #ffdc0a !important;
        background-color: #ffdc0a !important;
    }
}
