{% extends 'layouts/base.html.twig' %}

{% block body_id %}page-home{% endblock %}

{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <div class="row">
        {% set type = "project" %}
        {% for card in cards %}
            {% include 'partials/card.html.twig' %}
        {% endfor %}
    </div>
    {% endblock %}
</main>

